body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg-image1.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#planOutput {
    margin-top: 30px;  /* Increased space between the statement and output */
    font-size: 1.2em;
    text-align: left;
    padding-left: 10px;
}

@media (max-width: 768px) {
    .content {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    input, button, select {
        font-size: 0.9em;
    }
}
